@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmado";
}

<h1>@ViewData["Title"]</h1>

<a id="confirm-link" href="~/Identity/Account/Login"> Clique aqui</a> para logar na sua conta.