@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmar";
}

<h1>@ViewData["Title"]</h1>
<p>
    Este aplicativo não tem atualmente um remetente de e-mail real registrado. vá para a tela de <a id="confirm-link" href="~/Identity/Account/Login"> login</a>.
</p>

