@model RiscSegPre.Domain.Entities.Cliente

@{
    ViewData["Title"] = "Cliente";
}

<section>
    <div class="spacer">
        <h6>Atualizar: <b>@ViewData["Title"]</b></h6>
        <hr class="my-2">
    </div>
    <form asp-action="Edit">
        <input type="hidden" asp-for="id_cliente" />
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="nm_cliente" class="control-label"></label>
                <input asp-for="nm_cliente" class="form-control" />
                <span asp-validation-for="nm_cliente" class="text-danger"></span>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-sm btn-primary" />
                    <a href='@Url.Action("Index", "Cliente")' class="btn btn-sm btn-primary">Voltar</a>
                </div>
            </div>
        </div>
    </form>
</section>