@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="spacer"></div>
    <div class="jumbotron">
        <h1 class="display-4">Sistema Risco de Prédios</h1>
        <p class="lead">Desenvolvimento de uma análise de risco de prédios residenciais e hotéis.</p>
        <hr class="my-4">
        <p>Análises de risco de segurança patrimonial de prédios residencias e hóteis levando em consideração padrões de segurança internacionais.</p>
        <a href='@Url.Action("Index", "Inspecao")' class="btn btn-primary btn-lg" role="button">Iniciar</a>
    </div>
</section>
